.Cards{
  width: 25vw;
  height:55vh;
  margin: 8px;
  /* border: 2px solid red; */

}
img{
  width: inherit;
  height: 40vh;
  border-radius: 5%;
}
.innerComtainer{
  display: flex;
  justify-content: space-between;
  margin-top: 5px;

}
.colm1{
  display: flex;
  flex-direction: column;
}
.colm2{
  display: flex;
}
.ShowCards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}